abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  font-weight: 400;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

button,
input,
select,
textarea {
  vertical-align: middle;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: 0 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: transparent;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

input[type="button"],
input[type="submit"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="button"]::-webkit-search-decoration,
input[type="submit"]::-webkit-search-decoration {
  display: none;
}

input[type="button"]:focus,
input[type="submit"]:focus {
  outline-offset: -2px;
}

a {
  display: inline-block;
}

td,
th {
  display: inline-block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, YuGothic, "Yu Gothic", "ヒラギノ角ゴシック",
    "Hiragino Sans", sans-serif;
  min-width: 1024px;
  font-size: 16px;
  color: #1d2d44;
  overflow-x: hidden;
  background: #fff;
}

main {
  overflow-x: hidden;
}

.br_sp,
.sp {
  display: none;
}

.sec08__container {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  padding: 0 100px;
}

.sec08__title img {
  height: 23px;
}

.sec08__className {
  text-align: center;
  padding-top: 50px;
}

.sec08__className span {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #1d2d44;
  padding: 11px 18px;
}

.sec08__classList {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.sec08__classListInner {
  display: flex;
}

.sec08__classListInner ol:first-of-type {
  border-right: 1px solid #1d2d44;
  padding-right: 37px;
  margin-right: 37px;
}

.sec08__classListInner li {
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22222;
}

.sec08__classListInner li span {
  display: inline-block;
  width: 67px;
  font-weight: bold;
}

.sec08__classSummary {
  display: flex;
  justify-content: center;
  margin: 33px 0 38px;
}

.sec08__classSummary p {
  font-size: 18px;
  line-height: 1.77778;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}

.footer__logo {
  text-align: center;
}

.footer__logo img {
  height: 44.5px;
}

.footer__navi {
  margin-top: 23px;
}

.footer__navi li {
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  color: #000;
}

.footer__navi li:not(:last-child) {
  padding-right: 16px;
}

.footer__navi a:hover {
  opacity: 0.7;
}

.footer__copy {
  width: 100%;
  text-align: center;
  font-size: 12px;
  background: #1d2d44;
  color: #fff;
  padding: 20px 0;
  margin-top: 34px;
}

.header {
  position: absolute;
}

.header__inner {
  padding: 20px;
}

.header__logo img {
  height: 44.5px;
}

.header__button {
  display: none;
}

.course {
  background: #1d2d44;
}

.course__inner {
  max-width: 1100px;
  padding-top: 200px;
  padding-bottom: 100px;
  margin: auto;
}

.course__title {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.course__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 79px;
}

.course__tab {
  width: calc(50% - 5px);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  background: rgba(225, 225, 225, 0.5);
  padding: 23px 0 15px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.course__tab:hover {
  background: rgba(225, 225, 225, 0.9);
}

.course__tab.active {
  background: #fff;
}

.course__sp_tab {
  display: none;
  width: 92%;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 22px;
  margin: 15px auto 0;
}

.course__sp_tab span {
  width: 20px;
  height: 20px;
  position: relative;
}

.course__sp_tab span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #1d2d44;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.course__sp_tab span::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 20px;
  background: #1d2d44;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: height 0.4s;
}

.course__sp_tab.active span::after {
  height: 0;
}

.course__contents {
  background: #fff;
  position: relative;
  top: -1px;
}

.course__contents_inner {
  max-width: 1000px;
  padding: 50px 0 70px;
  margin: auto;
  position: relative;
}

.course__contents_wrapper {
  display: none;
  justify-content: center;
  width: 827px;
  margin: auto;
}

.course__contents_wrapper.active {
  -webkit-animation: fade 0.4s;
  animation: fade 0.4s;
  display: flex;
}

.profile {
  margin-top: 92px;
}

.profile__container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  border: 2px solid #1d2d44;
}

.profile__contents {
  padding: 0 45px 30px 35px;
  flex: 1;
}

.profile__heading {
  font-size: 20px;
  font-weight: 700;
  padding-top: 37px;
}

.profile__desc {
  line-height: 1.75;
  margin-top: 30px;
}

.profile__image {
  min-width: 270px;
  background: url(../img/profile_image.jpg) no-repeat center/cover;
}

.faq__inner {
  max-width: 1000px;
  margin: 100px auto 0;
}

.faq__title {
  text-align: center;
  background: #1d2d44;
  font-size: 28px;
  font-weight: 700;
  padding: 20px 0;
  color: #fff;
}

.faq__list {
  margin-top: 30px;
}

.faq__list dl {
  margin-top: 10px;
}

.faq__list dt {
  background: #e8f3f2;
  cursor: pointer;
}

.faq__list dt:hover {
  opacity: 0.7;
}

.faq__list dt p {
  display: flex;
  align-items: center;
  padding: 14px 26px;
}

.faq__list dt .q {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background: #1d2d44;
  color: #fff;
  font-size: 24px;
  margin-right: 28px;
}

.faq__list dt .text {
  flex: 1;
  font-size: 20px;
}

.faq__list dt .plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}

.faq__list dt .plus::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #c83015;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.faq__list dt .plus::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 100%;
  background: #c83015;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: height 0.4s;
}

.faq__list dt.active .plus::after {
  height: 0;
}

.faq__list dd {
  font-size: 20px;
  line-height: 1.65;
  padding: 23.5px 117px 66.5px;
  display: none;
}

.fv {
  background: url(../img/fv_bg.jpg) no-repeat center/cover;
}

.fv__inner {
  max-width: 1100px;
  padding-top: 92px;
  padding-bottom: 75px;
  padding-left: 50px;
  margin: auto;
  position: relative;
}

.fv__inner::before {
  content: "Scroll";
  display: inline-block;
  color: #c83015;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  bottom: 30px;
}

.fv__inner::after {
  content: "";
  display: inline-block;
  background: #c83015;
  width: 2px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  bottom: -25px;
}

.fv__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fv__title_upper {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.22em;
  line-height: 1.55556;
}

.fv__title_middle {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-top: 1px solid #1d2d44;
  padding-top: 20px;
  margin-top: 13px;
}

.fv__title_bottom {
  font-size: 50px;
  line-height: 1.24;
  margin-top: 15px;
}

.fv__info {
  margin-top: 60px;
}

.fv__info_title {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #fff;
  background: #1d2d44;
  padding: 15px;
}

.fv__info_list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fv__info_item {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #1d2d44;
  padding-bottom: 5px;
  margin-top: 17px;
}

.fv__info_class {
  width: 133px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  top: -3px;
}

.fv__info_date {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
}

.fv__info_date span {
  font-weight: 700;
  font-size: 32px;
  margin-left: 12px;
}

.fv__info_hyphen {
  font-size: 20px;
  font-weight: 700;
  margin-left: 7px;
}

.fv__form {
  position: absolute;
  width: 420px;
  top: 55px;
  right: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fv__form-agreement {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}

.fv__form-agreement a {
  color: #0000ff;
  text-decoration: underline;
}

.fv__form_inner {
  padding: 15px;
}

.fv__form_title {
  text-align: center;
  background: #1d2d44;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
}

.fv__form_item {
  display: block;
  margin-top: 20px;
}

.fv__form_item-trigger dd {
  flex-wrap: wrap;
}

.fv__form_item-trigger label {
  width: 50%;
  margin-right: 0 !important;
}

.fv__form_item_title {
  display: block;
  line-height: 1.4;
  margin-bottom: 3px;
}

.fv__form_item_data {
  display: flex;
  line-height: 1.4;
}

.fv__form_item_data label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.fv__form_item_data input[type="text"] {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 13px 15px;
}

.fv__form_item_data label input[type="radio"] {
  margin-right: 3px;
}

.fv__form_item_data input::-moz-placeholder {
  color: #ccc;
  letter-spacing: 0.05em;
}

.fv__form_item_data input:-ms-input-placeholder {
  color: #ccc;
  letter-spacing: 0.05em;
}

.fv__form_item_data input::placeholder {
  color: #ccc;
  letter-spacing: 0.05em;
}

.fv__form_item_data--half {
  display: flex;
  justify-content: space-between;
}

.fv__form_item_data--half input[type="text"] {
  width: calc(50% - 5px);
}

.fv__form_button {
  display: flex;
  text-align: left;
  width: 220px;
  background: #fc9127;
  color: #fff;
  line-height: 1.3;
  font-weight: bold;
  border-radius: 5px;
  padding: 11px 16px;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.fv__form_button input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.375;
  font-weight: 700;
  color: #fff;
}

.fv__form_button:hover {
  opacity: 0.7;
}

.fv__form_button::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 20px;
  background: url(../img/icon_arrow_white.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.fv__form_button.inactive {
  background: #ccc;
  pointer-events: none;
}

.fv__back_button {
  display: none;
}

.cource__contents_head {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  pointer-events: none;
}

.cource__contents_head::before {
  content: "";
  background: #ccc;
  width: 100%;
  height: 1px;
  position: absolute;
  top: -5px;
  left: 0;
}

.cource__contents_head_item {
  display: flex;
  align-items: center;
  line-height: 1.5;
  height: 80px;
}

.cource__contents_head_item:not(:last-of-type) {
  border-bottom: 1px dashed #ccc;
}

.course__contents_item {
  width: 100%;
  background: #f2f2f2;
  padding-bottom: 35px;
}

.course__contents_item:not(:last-of-type) {
  margin-right: 23px;
}

.course__contents_item_title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background: #b4d6d3;
  position: relative;
  z-index: 2;
  padding: 30px 0 25px;
}

.course__contents_item_title span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 11px;
}

.course__contents_item_title::after {
  content: "";
  background: #b4d6d3;
  width: 31px;
  height: 31px;
  transform: rotate(45deg);
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -14px;
}

.course__contents_item_title--economy {
  background: #b4d6d3;
}

.course__contents_item_title--economy::after {
  background: #b4d6d3;
}

.course__contents_item_title--standard {
  background: #1d2d44;
  color: #fff;
}

.course__contents_item_title--standard::after {
  background: #1d2d44;
}

.course__contents_item_title--premium {
  background: #c83015;
  color: #fff;
}

.course__contents_item_title--premium::after {
  background: #c83015;
}

.course__contents_item_desc {
  text-align: center;
  font-size: 14px;
  line-height: 1.71429;
  margin-top: 32px;
  border-bottom: 1px double #b4d6d3;
  position: relative;
  padding-bottom: 20px;
}

.course__contents_item_desc::after {
  content: "";
  background: #b4d6d3;
  width: 100%;
  border-bottom: 1px double #b4d6d3;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.course__contents_item_desc--economy {
  border-color: #b4d6d3;
}

.course__contents_item_desc--economy::after {
  border-color: #b4d6d3;
}

.course__contents_item_desc--standard {
  border-color: #1d2d44;
}

.course__contents_item_desc--standard::after {
  border-color: #1d2d44;
}

.course__contents_item_desc--premium {
  border-color: #c83015;
}

.course__contents_item_desc--premium::after {
  border-color: #c83015;
}

.course__contents_item_price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 700;
  margin-top: 18px;
}

.course__contents_item_price strong {
  font-size: 56px;
  font-weight: 700;
  position: relative;
  top: 7px;
}

.course__contents_item_price span:first-of-type {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.course__contents_item_price span:nth-of-type(2) {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.course__contents_item_price_note {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin-top: 14px;
}

.course__contents_item_button {
  margin-top: 30px;
}

.course__contents_item_button a {
  display: flex;
  text-align: left;
  width: 220px;
  line-height: 1.375;
  font-weight: 700;
  background: #fc9127;
  color: #fff;
  border-radius: 5px;
  padding: 11px 16px;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.course__contents_item_button a:hover {
  opacity: 0.7;
}

.course__contents_item_button a::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 20px;
  background: url(../img/icon_arrow_white.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.course__contents_item_button:hover {
  opacity: 0.7;
}

.course__contents_item_times {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

.course__contents_item_true {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.course__contents_item_true span {
  display: inline-block;
  background: #c83015;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}

.course__contents_item_true span::after {
  display: inline-block;
  content: "";
  background: #f2f2f2;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.course__contents_item_false {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.course__contents_item_false span {
  display: inline-block;
  width: 5px;
  height: 36px;
  background: #1d2d44;
  transform: rotate(45deg);
  position: relative;
}

.course__contents_item_false span::after {
  content: "";
  width: 5px;
  height: 36px;
  background: #1d2d44;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

.page_thanks .header {
  position: static;
}

.page_thanks .header__button {
  display: none;
}

.thanks__inner {
  max-width: 600px;
  margin: 100px auto 0;
}

.thanks__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.thanks__text {
  line-height: 1.7;
  margin-top: 50px;
}

.thanks__text_sentence--line3 {
  margin-top: 30px;
}

.thanks__info {
  margin-top: 15px;
  line-height: 1.7;
}

.thanks__info dl {
  display: flex;
}

.thanks__info a {
  text-decoration: underline;
}

.thanks__info a:hover {
  opacity: 0.7;
}

.thanks__info_item--tel a {
  pointer-events: none;
  text-decoration: none;
}

.thanks__button {
  text-align: center;
  margin-top: 50px;
}

.thanks__button a {
  font-size: 18px;
  padding: 10px;
}

.thanks__button a:hover {
  opacity: 0.7;
}

@media (max-width: 559px) {
  body {
    min-width: 0;
  }

  .pc {
    display: none;
  }

  .br_sp,
  .sp {
    display: block;
  }

  .sec08__container {
    width: 87%;
  }

  .sec08__container {
    margin-top: 25px;
    padding: 0;
  }

  .sec08__title {
    padding: 13px 0;
  }

  .sec08__title img {
    height: 15px;
  }

  .sec08__className {
    padding-top: 24px;
  }

  .sec08__className span {
    font-size: 15px;
    padding: 8px 14px;
    border-width: 1px;
  }

  .sec08__classList {
    margin-top: 9px;
  }

  .sec08__classListInner {
    display: block;
  }

  .sec08__classListInner ol:first-of-type {
    border: none;
    padding-right: 0;
    margin-right: 0;
  }

  .sec08__classListInner li {
    font-size: 12px;
  }

  .sec08__classListInner li span {
    width: 48px;
  }

  .sec08__classSummary {
    margin: 0 0 23px;
  }

  .sec08__classSummary p {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 17px;
  }

  .footer {
    margin-top: 55px;
  }

  .footer__navi ul {
    display: block;
  }

  .footer__navi li {
    line-height: 1.78571;
  }

  .footer__navi li:not(:last-child) {
    padding-top: 0;
  }

  .footer__copy {
    font-size: 10px;
    padding: 10px 0;
    margin-top: 16px;
  }

  .header {
    background: #fff;
    position: static;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 13px;
  }

  .header__logo {
    display: flex;
    align-items: center;
  }

  .header__logo img {
    height: 29px;
  }

  .header__button {
    display: block;
    background: #1d2d44;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    padding: 12px 29px 12px 12px;
  }

  .header__button::after {
    content: "";
    background: url(../img/icon_arrow_white.svg) no-repeat center/contain;
    display: inline-block;
    width: 10px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 12px;
  }

  .course__inner {
    padding: 50px 0;
  }

  .course__title {
    font-size: 24px;
    line-height: 1.45833;
    margin-bottom: 25px;
  }

  .course__sp_tab {
    display: flex !important;
  }

  .course__contents {
    background: 0 0;
  }

  .course__contents_inner {
    padding: 0;
  }

  .course__contents_wrapper {
    width: auto;
    display: flex;
    padding: 15px 15px 30px;
    background: #fff;
    position: relative;
  }

  .course__contents_wrapper.active {
    -webkit-animation: none;
    animation: none;
  }

  .course .test0 {
    display: none;
  }

  .course .test0.active {
    display: block;
  }

  .course .test1 {
    background: #fff;
    margin-left: 4%;
    position: relative;
  }

  .course .test2 {
    width: 55.7vw;
    margin-left: auto;
    overflow-x: scroll;
  }

  .course .tes3 {
    width: 440px;
    padding-right: 0;
  }

  .profile {
    width: 92%;
    margin: 40px auto 0;
  }

  .profile__container {
    display: block;
    border: 2px solid #1d2d44;
  }

  .profile__contents {
    padding: 15px;
  }

  .profile__heading {
    text-align: center;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 170px;
    background: url(../img/profile_image.jpg) no-repeat bottom center/ auto
      150px;
  }

  .profile__desc {
    line-height: 1.75;
    font-size: 14px;
    margin-top: 30px;
  }

  .profile__image {
    display: none;
    width: 50%;
    height: 150px;
    background: url(../img/profile_image.jpg) no-repeat center/cover;
  }

  .faq__inner {
    width: 92%;
    margin-top: 55px;
  }

  .faq__title {
    font-size: 16px;
    padding: 13px 0;
  }

  .faq__list {
    margin-top: 42px;
  }

  .faq__list dl {
    margin-top: 5px;
  }

  .faq__list dt:hover {
    opacity: 1;
  }

  .faq__list dt p {
    padding: 15px 11px 15px 9px;
  }

  .faq__list dt .q {
    font-size: 15px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .faq__list dt .text {
    font-size: 14px;
    line-height: 1.5;
  }

  .faq__list dt .plus {
    width: 20px;
    height: 20px;
  }

  .faq__list dt .plus::before {
    height: 2px;
  }

  .faq__list dt .plus::after {
    width: 2px;
  }

  .faq__list dd {
    font-size: 14px;
    padding: 14.5px 0 18.5px;
  }

  .fv {
    background-image: url(../img/fv_sp_bg.jpg);
    background-position: center bottom;
  }

  .fv__inner {
    width: 92%;
    padding-top: 27px;
    padding-bottom: 174px;
    padding-left: 0;
  }

  .fv__inner::before {
    display: none;
  }

  .fv__inner::after {
    display: none;
  }

  .fv__title_upper {
    font-size: 12px;
  }

  .fv__title_middle {
    font-size: 12px;
  }

  .fv__title_bottom {
    font-size: 34px;
    margin-top: 10px;
  }

  .fv__info {
    margin-top: 20px;
  }

  .fv__info_title {
    font-size: 11px;
    padding: 10px;
  }

  .fv__info_list {
    margin-top: 13px;
  }

  .fv__info_item {
    margin-top: 12px;
    padding-bottom: 6px;
  }

  .fv__info_class {
    width: 90px;
    font-size: 13px;
    top: -1px;
  }

  .fv__info_hyphen {
    font-size: 13px;
  }

  .fv__form {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-shadow: none;
    display: none;
  }

  .fv__form form {
    padding-bottom: 15px;
  }

  .fv__form_inner {
    height: 100%;
    padding: 0;
    width: 92%;
    margin: auto;
    padding-top: 15px;
  }

  .fv__form_title {
    display: block;
    margin-bottom: 15px;
  }

  .fv__form_item {
    display: block;
    margin-top: 10px;
  }

  .fv__form_item-trigger dd {
    display: block;
  }

  .fv__form_item-trigger label {
    width: 100%;
  }

  .fv__form_terms {
    font-size: 15px;
  }

  .fv__form_terms:hover {
    opacity: 1;
  }

  .fv__form_button {
    width: 150px;
    font-size: 11px;
    padding: 8px 10px;
    margin: 0;
  }

  .fv__form_button:hover {
    opacity: 1;
  }

  .fv__form_button::after {
    width: 7px;
    height: 14px;
    right: 8px;
  }

  .fv__back_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
  }

  .fv__back_button span {
    display: inline-block;
    margin-right: 5px;
    font-size: 24px;
  }

  .cource__contents_head {
    left: 34px;
    bottom: 30px;
  }

  .cource__contents_head::before {
    top: -3px;
  }

  .cource__contents_head_item {
    font-size: 11px;
    height: 55px;
  }

  .course__contents_item:not(:last-of-type) {
    margin-right: 10px;
  }

  .course__contents_item_title {
    font-size: 16px;
    padding: 20px 0 18px;
  }

  .course__contents_item_title span {
    font-size: 8px;
  }

  .course__contents_item_title::after {
    width: 21px;
    height: 21px;
    bottom: -4px;
  }

  .course__contents_item_desc {
    font-size: 10px;
    margin-top: 21px;
    padding-bottom: 14px;
  }

  .course__contents_item_desc::after {
    bottom: -3px;
  }

  .course__contents_item_price {
    font-size: 12px;
  }

  .course__contents_item_price strong {
    font-size: 36px;
  }

  .course__contents_item_price span:first-of-type {
    font-size: 14px;
    margin-top: 14px;
  }

  .course__contents_item_price span:nth-of-type(2) {
    font-size: 11px;
    margin-top: 10px;
  }

  .course__contents_item_price_note {
    text-align: left;
    line-height: 1.5;
    font-size: 12px;
    margin: 14px 10px 0;
  }

  .course__contents_item_button {
    margin-top: 20px;
  }

  .course__contents_item_button a {
    width: 150px;
    font-size: 11px;
    padding: 8px 10px;
  }

  .course__contents_item_button a:hover {
    opacity: 1;
  }

  .course__contents_item_button a::after {
    width: 7px;
    height: 14px;
    right: 8px;
  }

  .course__contents_item_button:hover {
    opacity: 1;
  }

  .course__contents_item_times {
    font-size: 16px;
    margin-top: 23px;
    height: 55px;
  }

  .course__contents_item_true {
    height: 55px;
  }

  .course__contents_item_true span {
    width: 25px;
    height: 25px;
  }

  .course__contents_item_true span::after {
    width: 19px;
    height: 19px;
    top: 3px;
    left: 3px;
  }

  .course__contents_item_false {
    height: 55px;
  }

  .course__contents_item_false span {
    width: 3px;
    height: 25px;
  }

  .course__contents_item_false span::after {
    width: 3px;
    height: 25px;
  }

  .thanks__inner {
    padding: 0 20px;
    margin-top: 50px;
  }

  .thanks__title {
    font-size: 20px;
  }

  .thanks__info a:hover {
    opacity: 1;
  }

  .thanks__info_item--tel a {
    text-decoration: underline;
    pointer-events: auto;
  }

  .thanks__button a:hover {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
