// colors
$white: #fff;
$black: #000;
$textlink: #1558c4;
$dark: #2e2624;
$dark-line: #707070;
$red: #e84830;
$yellow: #ffe632;
$gray: #333;

$st-list-bg: #002f65;
$st-bg: #f2f2f2;

$c0: #2e2624;
$c1: #002f65;
$c2: #2a57bd;
$c3: #0f9a9a;
$c4: #e84830;
$c4_txt: #333333;

$c-border: #e6e6e6;
$c-bg: #f8f8f8;

$table-navy: #002a5c;
$table-light-red: #fdf5f4;
