@use "../global" as *;

.c-floating{
	pointer-events: none;
	display: none;
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	transition: $duration;
	opacity: 0;
	@include deviceSP{
		display: block;
	}
	&.is-active{
		pointer-events: all;
		opacity: 1;
	}
	&__pagetop{
		position: absolute;
		top: -16vw;
		right: 0;
		width: 13.3vw;
		height: 13.3vw;
		margin: 0 2.7vw 0 auto;
		img{
			width: 100%;
			height: auto;
		}
	}
	&-btn{
		@include flex(between,stretch);
		&__link{
			width: 50%;
			height: 16vw;
			font-size: 1.55rem;
			letter-spacing: 0.1em;
			font-weight: 700;
			& + &{
				a,button{
					background: linear-gradient(135deg, $bl 0%, $pu 100%);
				}
			}
			a,button{
				@include flex(start,center);
				width: 100%;
				height: 100%;
				color: $wh;
				background: linear-gradient(135deg, $pk 0%, $dr 100%);
				padding-left: 1em;
				&::before{
					content: '';
					position: absolute;
					top: 50%;
					right: 4.3vw;
					width: 2.5vw;
					height: 4.5vw;
					background: url(../img/common/icon_arrow_wh.svg) 0 0 / 100% auto no-repeat;
					transform: translateY(-50%);
				}
			}
		}
	}
}
.c-heading{
	font-size: 3.2rem;
	letter-spacing: 0.05em;
	line-height: 1.5;
	font-weight: 700;
	text-align: center;
	@include deviceSP{
		font-size: 2.1rem;
		letter-spacing: 0;
	}
	&__en{
		display: block;
		@include enfont;
		color: $accent;
		text-align: center;
		font-size: 1.4rem;
		line-height: 1.0;
		margin-top: 0.714em;
		@include deviceSP{
			font-size: 1.2rem;
			margin-top: 1em;
		}
	}
}
.c-btn{
	background: $bk;
	@include flex(center,center);
	@include deviceSP{
		display: block;
		padding: 0 6.7vw;
	}
	&__link{
		width: 25em;
		height: 5.625em;
		@include deviceSP{
			width: 100%;
			height: 19.5vw;
		}
		& + &{
			margin-left: 1.25em;
			@include deviceSP{
				margin: 2.7vw 0 0;
			}
			a,button{
				background: linear-gradient(135deg, $bl 0%, $pu 100%);
			}
		}
		a,button{
			position: relative;
			width: 100%;
			height: 100%;
			@include flex(center,center);
			flex-flow: column;
			background: linear-gradient(135deg, $pk 0%, $dr 100%);
			&::before{
				content: '';
				position: absolute;
				top: 50%;
				right: 0.889em;
				width: 0.556em;
				height: 1em;
				background: url(../img/common/icon_arrow_wh.svg) 0 0 / 100% auto no-repeat;
				transform: translateY(-50%);
				@include deviceSP{
					right: 4vw;
					width: 2.1vw;
					height: 3.7vw;
				}
			}
		}
	}
	&__txt{
		text-align: center;
		font-size: 2.4rem;
		letter-spacing: 0.1em;
		line-height: 1.0;
		font-weight: 700;
		@include deviceSP{
			font-size: 1.9rem;
		}
	}
	&__sub{
		text-align: center;
		font-size: 1.4rem;
		line-height: 1.0;
		margin-top: 0.85em;
		@include deviceSP{
			font-size: 1.2rem;
		}
	}
}