@charset "UTF-8";

@import "mixin";

$white: #fff;
$black: #000;
$bp1: 375;
$bp2: 1200;
$bp3: 1440;
$link: #317ce2;
$navy: #011b39;
$yellow: #efd774;
$red: #e84830;
$dark-line: #707070;

$c-bg: #f8f8f8;

.sec-first {
  // height: auto;
  // min-height: 50rem;
  max-height: unset;
  height: auto;

  @include mq() {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
  }

  .sec-fv {
    min-height: 560px;
    height: 148vw;

    @include mq() {
      flex: 1 0 auto;
      height: 72%;
      min-height: 716px;
    }
  }

  .fv-bg {
    @include mq() {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .cta2 {
    @include mq() {
      flex: 0 0 auto;
      min-height: 180px;
    }
  }
}

.cta2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background: $navy;
  color: white;
  position: relative;
  z-index: 2;

  &.has-bnr {
    @include vwpt(108);

    @include mq() {
      @include vwpt(155, $bp2);
    }

    @include mq(l) {
      padding-top: 100px;
    }

    .careerup-bnr {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: 720px;
      @include vww(325);
      @include vwt(-40);

      @include mq() {
        top: -40px;
        width: 720px;
      }
    }

    > .l-inner {
      @include vwpt(30);

      @include mq() {
        @include vwpt(40, $bp2);
      }

      @include mq(l) {
        padding-top: 40px;
      }
    }
  }

  &-ttl {
    @include vwfs(20);
    font-weight: 700;
    text-align: center;

    @include mq() {
      @include vwfs(26, $bp2);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include mq(l) {
      @include fs(28);
    }

    .left {
      display: block;
      @include vwmb(8);

      @include mq() {
        margin-bottom: 0;
      }
    }

    .center {
      @include vwfs(20);
      color: $white;
      background: $red;
      @include vwptb(6);
      @include vwplr(8);
      @include vwmlr(8);
      display: inline-block;
      border-radius: 5px;

      @include mq() {
        @include vwfs(24, $bp2);
        @include vwptb(12, $bp2);
        @include vwplr(18, $bp2);
        @include vwmlr(18, $bp2);
      }

      @include mq(l) {
        @include fs(26);
        padding: 12px 18px;
        margin: 0 18px;
      }
    }

    .right {
      color: $yellow;

      .num {
        @include vwfs(28);

        @include mq() {
          @include vwfs(46, $bp2);
        }

        @include mq(l) {
          @include fs(51);
        }
      }
    }
  }

  .btn_wrap {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @include mq() {
      flex-direction: row;
    }

    .c-button + .c-button {
      margin-top: 10px;

      @include mq() {
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }

  .c-button {
    border-radius: 50px;
    @include vwfs(20);

    @include mq() {
      @include vwfs(18, $bp2);
    }

    @include mq(l) {
      @include fs(20);
    }

    &-in {
      transform: translateX(-15px);
      display: inline-block;

      @include mq() {
        transform: translateX(0);
      }
    }

    .arrow {
      position: absolute;
      top: 50%;
      @include vwr(15);
      transform: translateY(-50%);
      @include vww(40);
      @include vwh(40);
      background: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mq() {
        @include vwr(15, $bp2);
        @include vww(40, $bp2);
        @include vwh(40, $bp2);
      }

      @include mq(l) {
        right: 15px;
        width: 40px;
        height: 40px;
      }

      svg {
        width: 7px;
        height: 14px;
        transform: translateX(1px);
      }
    }

    .small {
      display: block;
      @include vwfs(12);

      @include mq() {
        @include vwfs(12, $bp2);
      }

      @include mq(l) {
        @include fs(14);
      }
    }

    &::after {
      content: none;
    }

    &.-gray {
      background-image: url("../images/common/btn-bg-g.png");
      background-size: cover;
      background-position: center center;
    }

    &.-red {
      background-image: url("../images/common/btn-bg-r.png");
      background-size: cover;
      background-position: center center;
    }
  }
}

.cta {
  &-price-box {
    @include vwmt(20);
    @include vwmb(30);
    @include vwpb(12);
    text-align: center;
    border-bottom: thin solid $dark-line;

    @include mq() {
      border-bottom: 0;
      padding-bottom: 0;
      @include vwmt(20, $bp2);
      @include vwmb(40, $bp2);
    }

    @include mq(l) {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    picture {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      max-width: 574px;

      @include mq() {
        @include vww(574, $bp2);
      }

      @include mq(l) {
        width: 574px;
      }
    }

    &-caption {
      @include vwfs(12);
      @include vwmt(10);

      @include mq() {
        @include vwfs(10, $bp2);
        @include vwmt(10, $bp2);
      }

      @include mq(l) {
        @include fs(12);
        margin-top: 18px;
      }

      .mod-link {
        color: $yellow;
      }
    }
  }
}

.sec-outline .c-tbl {
  .fee-price {
    margin: 0 auto;
    @include vwmt(15);
    @include vww(271);

    @include mq() {
      margin-top: 20px;
      width: 420px;
      margin-left: 0;
    }
  }

  .fee-caption {
    @include vwmt(15);
    @include vwfs(12);
    text-align: center;
    font-weight: 400;

    @include mq() {
      margin-top: 10px;
      @include fs(12);
      text-align: left;
    }

    a {
      color: $yellow;
      text-decoration: underline;
      display: inline-block;
    }
  }
}

.c-schedule__items {
  + .c-schedule__items {
    @include mq() {
      margin-left: 80px;
    }
  }
}

.c-schedule__item-date {
  padding-right: 0.5em;
}

.sec-difference {
  .img-table {
    position: relative;

    @include mq() {
      width: 705px;
      margin: 0 auto;
    }

    @include mq(l) {
      width: 100%;
    }

    &__link {
      position: absolute;
      @include lh(12, 18);
      @include vwl(20);
      @include vwb(20);
      @include vwfs(12);
      @include vww(128);

      @include mq() {
        @include fs(10);
        width: auto;
        bottom: 10px;
        left: 227px;
        width: 238px;
        text-align: center;
      }

      @include mq(l) {
        @include fs(12);
        left: 315px;
        width: 343px;
      }

      a {
        text-decoration: underline;
        color: $link;
      }
    }
  }
}

.f-btm {
  .sec-outline {
    padding-bottom: 40px;

    @include mq() {
      padding-bottom: 120px;
    }
  }
}

.sec-outline .c-tbl .atten.font-bold {
  text-indent: 0;
}

.careerup {
  background: $yellow;
  padding: 25px 0;
  position: relative;
  z-index: 2;

  @include mq() {
    padding: 80px 0;
  }

  .wrap {
    margin: 0 auto;
    width: 86.6666666667vw;
    max-width: 1200px;
  }

  &-inner {
    background: white;
    border-radius: 20px;
    padding: 25px;

    @include mq() {
      padding: 40px 50px;
    }
  }

  &-top {
    @include mq() {
      display: flex;
      align-items: center;
    }
  }

  &-ttl {
    @include vwfs(20);
    @include lh(20, 30);
    @include ls(50);
    font-weight: 700;
    text-align: center;

    @include mq() {
      @include fs(28);
      text-align: left;
    }

    &-wrap {
      @include mq() {
        margin-left: 92px;
      }
    }
  }

  &-logo {
    @include vww(182);
    margin: 10px auto;

    @include mq() {
      width: 207px;
      margin: 0;
      flex: 0 0 auto;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-read {
    @include vwfs(16);
    @include lh(16, 26);
    @include ls(50);
    font-weight: 700;
    text-align: center;

    @include mq() {
      @include fs(20);
      margin-top: 12px;
      text-align: left;
    }
  }

  &-img {
    &-01 {
      margin-top: 20px;

      @include mq() {
        margin-top: 38px;
        width: 100%;
      }

      img {
        display: block;
        @include vww(227);
        height: auto;
        margin: 0 auto;

        @include mq() {
          width: 100%;
        }
      }

      .att {
        @include vwfs(10);
        @include lh(10, 15);
        margin-top: 10px;

        @include mq() {
          @include fs(14);
          margin-top: 32px;
        }
      }
    }
  }

  &-btn {
    width: 100%;
    display: block;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }

    &-wrap {
      margin-top: 15px;

      @include mq() {
        margin-top: 40px;
      }
    }

    &-icon {
      display: block;
      position: absolute;
      top: 50%;
      @include vwr(20);
      transform: translateY(-50%);
      @include vww(20);
      @include vwh(20);

      @include mq() {
        width: 20px;
        height: 20px;
        right: 26px;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 2px;
        background: white;

        &:nth-of-type(2) {
          transform: translate(-50%, -50%) rotate(90deg);
          transition: 0.3s ease;
        }
      }
    }

    &.active {
      .careerup-btn-icon {
        span {
          &:nth-of-type(2) {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      filter: drop-shadow(2px 5px 8px rgba(black, 0.2));
    }
  }

  &-body {
    @include vwpb(15);

    @include mq() {
      padding-bottom: 50px;
    }

    &[aria-hidden="true"] {
      display: none;
    }

    @include mq() {
      max-width: 1000px;
      margin: 0 auto;
    }

    .ttl {
      @include ls(50);
      @include lh(20, 28);
      @include vwfs(20);
      font-weight: 700;
      text-align: center;
      position: relative;
      @include vwmb(30);
      @include vwpb(30);
      @include vwpt(60);

      @include mq() {
        @include fs(24);
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 80px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        @include vww(40);
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        background: $dark-line;

        @include mq() {
          width: 40px;
        }
      }
    }

    .txt {
      @include vwfs(16);
      @include lh(16, 28);

      + .txt {
        margin-top: 1.5em;
      }

      @include mq() {
        @include fs(16);
      }
    }

    .txtlink {
      color: $link;
      text-decoration: underline;

      &:hover,
      &:focus-visible {
        text-decoration: underline;
        opacity: 1;
        color: lighten($link, 30%);
      }
    }

    .img {
      &-01 {
        @include vwmt(28);
        text-align: center;

        @include mq() {
          margin-top: 40px;
        }
      }

      &-02 {
        text-align: center;
        border: 2px solid $red;
        border-radius: 20px;
        @include vwmt(32);
        @include vwplr(18);
        @include vwptb(25);

        @include mq() {
          margin-top: 55px;
          padding: 50px 88px;
        }

        ol {
          @include vwmb(20);
          @include vwmt(26);
          text-align: left;

          @include mq() {
            margin-top: 35px;
            margin-bottom: 20px;
          }

          li {
            position: relative;
            padding-left: 1.5em;
            @include vwfs(16);
            @include lh(16, 28);

            @include mq() {
              @include fs(16);
            }

            &::before {
              position: absolute;
              left: 0;
            }

            &:nth-of-type(1) {
              &::before {
                content: "\02460";
              }
            }

            &:nth-of-type(2) {
              &::before {
                content: "\02461";
              }
            }
          }

          + .att {
            @include lh(12, 18);
            @include vwfs(12);
            text-align: left;

            @include mq() {
              @include fs(14);
            }
          }
        }
      }

      &-03 {
        @include vwmt(25);

        @include mq() {
          margin-top: 40px;
        }
      }
    }

    .list {
      @include lh(16, 28);
      @include vwfs(16);

      @include mq() {
        @include fs(16);
      }

      li {
        &::before {
          content: "・";
        }
      }

      + .att {
        @include vwmt(30);
        @include lh(12, 18);
        @include vwfs(12);

        @include mq() {
          @include fs(14);
          margin-top: 10px;
        }
      }
    }
  }
}

/*----------------------------------------
  240307
----------------------------------------*/
$bp1: 375;
$bp2: 1200;

$txt-base: #333;
$txt-dark: #2e2624;

$k-red: #d92a0f;
$k-yellow: #ffff00;
$k-navy: #002f65;

$p3-green: #7cb342;
$p3-yellow: #edb944;
$p3-orange: #ea9938;

$p4-border: #e6e6e6;
$p4-bg: #f8f8f8;
$p4-bg2: #f2f2f2;
$p4-border2: #2e2624;

$ct-red: #e84830;

main {
  overflow-x: hidden;
}

sup {
  font-size: 0.6em;
}

.top-layer {
  position: relative;
  z-index: 2;
}

.red {
  color: $k-red;
}

.yellow {
  color: $k-yellow;
}

.navy {
  color: $k-navy;
}

strong {
  font-weight: 700;
}
.gt {
  @include gotham();
}
.pc-inline {
  display: none;

  @include mq() {
    display: inline-block;
  }
}

.sp-inline {
  display: inline-block;

  @include mq() {
    display: none;
  }
}

.pc {
  display: none;
  @include mq() {
    display: block;
  }
}

.sp {
  display: block;
  @include mq() {
    display: none;
  }
}

br {
  &.bsp {
    display: inline-block;

    @include mq() {
      display: none;
    }
  }

  &.nbsp {
    display: none;

    @include mq() {
      display: inline-block;
    }
  }
}

.mod {
  &-link {
    text-decoration: underline;
    transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  &-schedule {
    border-top: thin solid $white;
    @include vwmt(24);
    @include vwpt(16);

    @include mq() {
      margin-top: 24px;
      padding-top: 0;
      border-top: 0;
    }

    &-ttl {
      @include vwfs(16);
      @include vwmb(10);
      font-weight: 700;
    }

    &-wrapper {
      border: thin solid $dark-line;
      background: $white;
      color: $txt-dark;
      border-radius: 5px;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;

      &.is-tp {
        background: transparent;
        color: $white;

        @include mq() {
          border: 0;
        }

        .mod-schedule {
          &-toggle {
            @include mq() {
              display: none;
            }

            &:hover,
            &:active {
              opacity: 1;

              @include mq() {
                opacity: 0.5;
              }
            }

            &-icon {
              span {
                background: $white;
              }
            }

            &-txt {
              color: $white;
            }
          }

          &-box {
            @include mq() {
              display: block !important;
              padding: 0;
              border: 0;
            }

            &-in {
              @include mq() {
                padding-top: 0;
                padding-bottom: 0;
                @include vwmt(18, $bp2);
              }

              @include mq(l) {
                margin-top: 18px;
              }
            }
          }

          &-list {
            @include mq() {
              border-left: 0 !important;
            }
          }
        }
      }
    }

    &-toggle {
      width: 100%;
      @include vwh(40);
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      position: relative;
      border: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease;

      @include mq() {
        height: 60px;
      }

      &:hover {
        opacity: 0.5;
      }

      &-txt {
        @include vwfs(14);
        font-weight: 700;
        color: $txt-dark;

        @include mq() {
          @include fs(20);
        }
      }

      &-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        @include vww(14);
        @include vwh(14);
        display: block;

        @include mq() {
          right: 20px;
          width: 20px;
          height: 20px;
        }

        span {
          position: absolute;
          top: calc(50% - 1px);
          left: 0;
          width: 100%;
          height: 2px;
          background: $txt-dark;

          &:nth-of-type(2) {
            transform: rotate(90deg);
            transition: 0.3s ease;
          }
        }
      }

      &.active {
        .mod-schedule-toggle-icon {
          span {
            &:nth-of-type(2) {
              transform: rotate(0deg);
            }
          }
        }
      }
    }

    &-box {
      &[aria-hidden="true"] {
        display: none;
      }

      &-in {
        @include vwplr(34);
        @include vwpt(18);
        @include vwpb(20);

        @include mq() {
          @include vwptb(28, $bp2);
          @include vwplr(40, $bp2);
          display: flex;
          justify-content: center;
        }

        @include mq(l) {
          padding: 28px 40px;
        }
      }
    }

    &-list {
      &:nth-of-type(1) {
        @include mq() {
          margin-left: -100px;
        }
      }

      &:nth-of-type(n + 2) {
        @include mq() {
          @include vwml(26, $bp2);
          @include vwpl(8, $bp2);
          border-left: thin solid $dark-line;
        }

        @include mq(l) {
          margin-left: 26px;
          padding-left: 8px;
        }
      }
    }

    &-item {
      font-weight: 500;
      display: flex;
      justify-content: flex-end;
      @include lh(14, 23);
      @include vwfs(14);

      @include mq() {
        @include vwfs(16, $bp2);
      }

      @include mq(l) {
        @include fs(16);
      }

      .ttl {
        @include vww(84);
        flex: 0 0 auto;
        text-align: right;

        @include mq() {
          width: auto;
          min-width: 96px;
        }
      }

      .date {
        @include vww(160);
        flex: 0 0 auto;
        text-align: right;
        @include ls(50);

        @include mq() {
          width: 184px;
        }
      }
    }
  }
}

/*
intro
*/
.intro {
  @include vwpt(50);
  @include vwpb(80);
  background-image: url("../images/2403/intro-bg-sp.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: $white;

  @include mq() {
    background-image: url("../images/2403/intro-bg.webp");
    @include vwpt(80, $bp2);
    @include vwpb(100, $bp2);
  }

  @include mq(l) {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  &-in {
    @include mq() {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &-img {
    @include vwmt(50);

    @include mq() {
      margin-top: 0;
      flex: 0 0 auto;
      width: calc(325 / 1000 * 100%);
      max-width: 325px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-txtbox {
    position: relative;

    @include mq() {
      flex: 0 0 auto;
      width: calc(634 / 1000 * 100%);
      max-width: 634px;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include vww(38);
      @include vwh(25);

      @include mq() {
        @include vww(38, $bp2);
        @include vwh(25, $bp2);
      }

      @include mq(l) {
        width: 38px;
        height: 25px;
      }
    }

    &::before {
      background-image: url("../images/2403/intro-quote-start.svg");
      top: 0;
      left: 0;
    }

    &::after {
      background-image: url("../images/2403/intro-quote-end.svg");
      bottom: 0;
      right: 0;
    }

    &-in {
      @include vwpt(60);
      @include vwpb(25);

      @include mq() {
        @include vwpt(36, $bp2);
        @include vwpb(36, $bp2);
      }

      @include mq(l) {
        padding-top: 36px;
        padding-bottom: 36px;
      }
    }
  }

  &-txt {
    @include vwfs(17);
    @include lh(18, 36);
    font-weight: 700;
    text-align: center;

    @include mq() {
      @include vwfs(22, $bp2);
      @include lh(22, 48);
    }

    @include mq(l) {
      @include fs(22);
    }

    .logo {
      @include vww(271);
      display: inline-block;
      transform: translateY(-0.24em);
      margin-right: 0.5em;

      @include mq() {
        @include vww(321, $bp2);
        transform: translateY(-0.34em);
      }

      @include mq(l) {
        width: 321px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .bg-yellow {
      background: $k-yellow;
      color: $navy;
      @include vwpt(2);
      @include vwpb(4);
      @include vwplr(10);
      @include vwmlr(6);
      @include lh(18, 48);

      @include mq() {
        @include vwpt(2, $bp2);
        @include vwpb(4, $bp2);
        @include vwplr(10, $bp2);
        @include vwmlr(6, $bp2);
        @include lh(22, 48);
      }

      @include mq(l) {
        padding: 2px 10px 4px;
        margin: 0 6px;
      }
    }
  }
}

/*
points
*/
.points {
  background-color: $white;
  background-image: url("../images/2403/points-bg-sp.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  @include vwpt(120);
  @include vwpb(100);

  @include mq() {
    background-image: url("../images/2403/points-bg.webp");
    background-size: calc(810 / 1440 * 100%) auto;
    background-position: left top;
    @include vwptb(200, $bp2);
  }

  @include mq(l) {
    background-size: 810px auto;
    padding: 200px 0;
  }

  &-ttl {
    @include vww(302);
    margin: 0 auto;

    @include mq() {
      @include vww(710, $bp2);
    }

    @include mq(l) {
      width: 710px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

/*
point
*/
.point {
  position: relative;
  @include vwmt(80);
  color: #333;

  @include mq() {
    @include vwmt(80, $bp2);
  }

  @include mq(l) {
    margin-top: 80px;
  }

  &:nth-of-type(n + 2) {
    @include vwmt(100);

    @include mq() {
      @include vwmt(100, $bp2);
    }

    @include mq(l) {
      margin-top: 100px;
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include vwh(234);

    @include mq() {
      @include vwh(300, $bp2);
    }

    @include mq(l) {
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &-in {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    width: 86.6666666667vw;
    @include vwpt(210);

    @include mq() {
      @include vwpt(150, $bp2);
    }

    @include mq(l) {
      padding-top: 150px;
    }
  }

  &-cont {
    @include mq() {
      border-radius: 30px 30px 0 0;
      overflow: hidden;
      background: $white;
      @include vwplr(100, $bp2);
      @include vwpt(74, $bp2);
    }

    @include mq(l) {
      padding: 74px 100px 0;
    }
  }

  &-heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    + .point-txt {
      @include vwmt(20);

      @include mq() {
        @include vwmt(30, $bp2);
      }

      @include mq(l) {
        margin-top: 30px;
      }
    }
  }

  &-ttl {
    font-weight: 700;
    @include vwfs(27);
    text-align: center;
    @include vwpb(16);
    @include vwmb(8);
    color: $k-red;
    position: relative;

    @include mq() {
      padding-bottom: 0;
      @include vwmb(26, $bp2);
      @include vwfs(27, $bp2);
    }

    @include mq(l) {
      margin-bottom: 26px;
      @include fs(27);
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      @include vww(30);
      @include vwh(2);
      background: $k-red;
      transform: translateX(-50%);

      @include mq() {
        content: none;
      }
    }

    .num {
      @include vwfs(64);

      @include mq() {
        @include vwfs(64, $bp2);
      }

      @include mq(l) {
        @include fs(64);
      }
    }
  }

  &-read {
    font-weight: 700;
    color: $k-navy;
    @include ls(50);
    @include vwfs(20);
    @include lh(20, 28);
    text-align: center;

    @include mq() {
      @include lh(28, 34);
      @include vwfs(28, $bp2);
    }

    @include mq(l) {
      @include fs(28);
    }
  }

  &-txt {
    @include vwfs(14);
    @include lh(14, 22);

    @include mq() {
      @include vwfs(16, $bp2);
      @include lh(16, 28);
    }

    @include mq(l) {
      @include fs(16);
    }
  }

  &-caption {
    text-align: right;
    @include vwmt(10);
    @include vwfs(12);

    @include mq() {
      @include vwfs(12, $bp2);
      @include vwmt(10, $bp2);
    }

    @include mq(l) {
      @include fs(12);
      margin-top: 10px;
    }
  }

  &-01 {
    &-block {
      @include vwmt(30);

      @include mq() {
        @include vwmt(50, $bp2);
      }

      @include mq(l) {
        margin-top: 50px;
      }

      &:nth-of-type(n + 2) {
        @include vwmt(60);

        @include mq() {
          @include vwmt(80, $bp2);
        }

        @include mq(l) {
          margin-top: 80px;
        }
      }

      &-ttl {
        font-weight: 700;
        text-align: center;
        @include vwfs(20);
        color: $k-navy;

        @include mq() {
          @include vwfs(22, $bp2);
        }

        @include mq(l) {
          @include fs(22);
        }

        &.ttl-01 {
          @include vwmb(20);

          @include mq() {
            @include vwmb(40, $bp2);
          }

          @include mq(l) {
            margin-bottom: 40px;
          }
        }

        &.ttl-02 {
          @include vwmb(20);

          @include mq() {
            @include vwmb(24, $bp2);
          }

          @include mq(l) {
            margin-bottom: 24px;
          }
        }
      }

      &-subttl {
        @include vwmt(30);
        @include vwfs(18);
        font-weight: 600;
        color: $k-red;
        text-align: center;

        @include mq() {
          @include vwmt(60, $bp2);
          @include vwfs(20, $bp2);
        }

        @include mq(l) {
          margin-top: 60px;
          @include fs(20);
        }
      }

      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include vwmt(15);
        @include vwfs(14);
        @include lh(14, 18);

        @include mq() {
          @include vwmt(10, $bp2);
          @include vwfs(14, $bp2);
        }

        @include mq(x) {
          margin-top: 10px;
          @include fs(14);
        }
      }

      &-item {
        @include vww(155);
        @include vwh(60);
        background: $k-navy;
        color: $white;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include vwfs(14);
        border-radius: 200px;
        @include vwmtb(5);

        @include mq() {
          width: calc(155 / 1000 * 100%);
          max-width: 155px;
          @include vwh(60, $bp3);
          @include vwfs(12, $bp3);
          @include vwmtb(10, $bp3);
        }

        @include mq(x) {
          width: 155px;
          height: 60px;
          @include fs(14);
          margin: 10px 0;
        }
      }
    }
  }

  &-02 {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      right: 0;
      @include vww(174);
      @include vwh(119);
      background-image: url("../images/2403/point-illust-bottom-right-sp.webp");
      background-size: contain;
      background-position: bottom right;
      background-repeat: no-repeat;
      mix-blend-mode: multiply;

      @include mq() {
        content: none;
      }
    }

    &-list {
      @include vwmt(20);
      display: flex;
      flex-direction: column;
      @include vwplr(24);

      @include mq() {
        padding: 0;
        @include vwmt(50, $bp2);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @include mq(l) {
        margin-top: 50px;
      }
    }

    &-item {
      width: 100%;

      @include mq() {
        width: calc(480 / 1000 * 100%);
        max-width: 480px;
      }

      &:nth-of-type(n + 2) {
        @include vwmt(20);

        @include mq() {
          margin-top: 0;
        }
      }

      &:nth-of-type(n + 3) {
        @include mq() {
          @include vwmt(24, $bp2);
        }

        @include mq(l) {
          margin-top: 24px;
        }
      }

      &-ttl {
        font-weight: 700;
        display: inline-block;
        @include vww(180);
        @include vwh(30);
        display: flex;
        align-items: center;
        @include vwpl(13);
        background: $k-navy;
        color: $white;
        border-radius: 5px 5px 0 0;
        @include vwfs(14);
        @include ls(10);

        @include mq() {
          @include vwpl(13, $bp2);
          @include vww(206, $bp2);
          @include vwh(37, $bp2);
          @include vwfs(16, $bp2);
        }

        @include mq(l) {
          padding-left: 13px;
          width: 206px;
          height: 37px;
          @include fs(16);
        }
      }

      &-img {
        img {
          width: 100%;
          height: auto;
        }
      }

      &-txt {
        @include vwfs(12);
        @include lh(12, 18);
        @include vwmt(10);

        @include mq() {
          @include vwfs(14, $bp2);
          @include lh(14, 22);
          @include vwmt(10, $bp2);
        }

        @include mq(l) {
          @include fs(14);
          margin-top: 10px;
        }
      }
    }
  }

  &-03 {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      @include vww(174);
      @include vwh(119);
      background-image: url("../images/2403/point-illust-bottom-left-sp.webp");
      background-size: contain;
      background-position: bottom left;
      background-repeat: no-repeat;
      mix-blend-mode: multiply;

      @include mq() {
        content: none;
      }
    }

    &-ex {
      @include vwmt(20);

      @include mq() {
        @include vwmt(30, $bp2);
      }

      @include mq(l) {
        margin-top: 30px;
      }

      &-list {
        @include vwmt(10);

        @include mq() {
          display: flex;
          justify-content: space-between;
          @include vwmt(10, $bp2);
        }

        @include mq(l) {
          margin-top: 10px;
        }
      }

      &-item {
        position: relative;
        color: $white;
        border-radius: 5px;
        @include vwpt(15);
        @include vwpb(20);
        @include vwplr(10);

        @include mq() {
          @include vwptb(24, $bp2);
          @include vwplr(15, $bp2);
          flex: 0 0 auto;
          width: calc(300 / 1000 * 100%);
          max-width: 300px;
        }

        @include mq(l) {
          padding: 24px 15px;
        }

        &:nth-of-type(1) {
          background: $p3-green;

          &::before {
            border-color: $p3-green transparent transparent transparent;

            @include mq() {
              border-color: transparent transparent transparent $p3-green;
            }
          }
        }

        &:nth-of-type(2) {
          background: $p3-yellow;

          &::before {
            border-color: $p3-yellow transparent transparent transparent;

            @include mq() {
              border-color: transparent transparent transparent $p3-yellow;
            }
          }
        }

        &:nth-of-type(3) {
          background: $p3-orange;
        }

        &:nth-of-type(n + 2) {
          @include vwmt(35);

          @include mq() {
            margin-top: 0;
          }
        }

        &:not(:last-of-type) {
          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-style: solid;
            border-width: 4vw 4vw 0 4vw;

            @include mq() {
              top: 50%;
              left: 100%;
              transform: translateY(-50%);
              border-width: 2.0833333333vw 0 2.0833333333vw 2.0833333333vw;
            }

            @include mq(l) {
              border-width: 25px 0 25px 25px;
            }
          }
        }

        &-heading {
          display: flex;
          align-items: center;
          @include vwpb(15);
          @include vwmb(15);
          border-bottom: thin solid $white;

          @include mq() {
            flex-direction: column;
            justify-content: center;
            @include vwpb(15, $bp2);
            @include vwmb(15, $bp2);
          }

          @include mq(l) {
            padding-bottom: 15px;
            margin-bottom: 15px;
          }
        }

        &-icon {
          @include vww(48);

          @include mq() {
            @include vww(52, $bp2);
          }

          @include mq(l) {
            width: 52px;
          }

          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }

        &-ttl {
          font-weight: 700;
          @include vwfs(18);
          @include vwml(15);

          @include mq() {
            text-align: center;
            @include vwfs(18, $bp2);
            margin-left: 0;
            @include vwmt(10, $bp2);
          }

          @include mq(l) {
            @include fs(18);
            margin-top: 10px;
          }
        }

        &-list {
          @include vwplr(10);

          @include mq() {
            padding: 0;
          }

          &-item {
            position: relative;
            padding-left: 2em;
            @include vwfs(14);
            @include lh(14, 17);
            font-weight: 500;

            @include mq() {
              @include vwfs(12, $bp2);
            }

            @include mq(l) {
              @include fs(14);
            }

            &:nth-of-type(n + 2) {
              @include vwmt(10);

              @include mq() {
                @include vwmt(10, $bp2);
              }

              @include mq(l) {
                margin-top: 10px;
              }
            }

            &::before {
              position: absolute;
              content: "";
              display: block;
              top: 0;
              left: 0;
              @include vww(21);
              @include vwh(20);
              background-image: url("../images/2403/point-03-check-icon.svg");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;

              @include mq() {
                @include vww(21, $bp2);
                @include vwh(20, $bp2);
              }

              @include mq(l) {
                width: 21px;
                height: 20px;
              }
            }
          }
        }
      }
    }

    &-outro {
      @include vwmt(30);

      @include mq() {
        @include vwmt(42, $bp2);
        display: flex;
      }

      @include mq(l) {
        margin-top: 42px;
      }

      &-ttl {
        border-radius: 5px;
        @include vwh(48);
        width: 100%;
        background: $k-navy;
        color: $white;
        @include vwfs(16);
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq() {
          @include vww(116, $bp2);
          @include vwh(70, $bp2);
          flex: 0 0 auto;
          @include vwfs(16, $bp2);
          @include lh(16, 22);
          text-align: center;
        }

        @include mq(l) {
          width: 116px;
          height: 70px;
          @include fs(16);
        }
      }

      &-txt {
        @include vwmt(18);
        @include vwfs(14);
        @include lh(14, 22);

        @include mq() {
          margin-top: 0;
          @include vwml(15);
          flex: 1 1 auto;
          @include vwfs(14, $bp2);
        }

        @include mq(l) {
          margin-left: 15px;
          @include fs(14);
        }
      }
    }
  }

  &-04 {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      right: 0;
      @include vww(174);
      @include vwh(119);
      background-image: url("../images/2403/point-illust-bottom-right-sp.webp");
      background-size: contain;
      background-position: bottom right;
      background-repeat: no-repeat;
      mix-blend-mode: multiply;

      @include mq() {
        content: none;
      }
    }

    &-2col {
      @include vwmt(28);

      @include mq() {
        @include vwmt(50, $bp2);
        display: flex;
        justify-content: space-between;
      }

      @include mq() {
        margin-top: 50px;
      }

      + .point-04-2col {
        @include vwmt(30);

        @include mq() {
          @include vwmt(60, $bp2);
        }

        @include mq(l) {
          margin-top: 60px;
        }
      }

      &-img,
      &-txtbox {
        @include mq() {
          flex: 0 0 auto;
          width: calc(476 / 1000 * 100%);
          max-width: 476px;
        }

        &:last-of-type {
          @include vwmt(12);

          @include mq() {
            margin-top: 0;
          }
        }

        &.order-1 {
          @include mq() {
            order: 1;
          }
        }

        &.order-2 {
          @include mq() {
            order: 2;
          }
        }
      }

      &-img {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      &-txt {
        @include vwfs(14);
        @include lh(14, 22);

        @include mq() {
          @include vwfs(18, $bp2);
          @include lh(18, 36);
        }

        @include mq(l) {
          @include fs(18);
        }
      }

      &-ttl {
        @include vwfs(18);
        font-weight: 700;

        @include mq() {
          @include vwfs(18, $bp2);
        }

        @include mq(l) {
          @include fs(18);
        }

        .small {
          @include vwfs(14);

          @include mq() {
            @include vwfs(14, $bp2);
          }

          @include mq(l) {
            @include fs(14);
          }
        }
      }

      &-list {
        @include vwmt(4);

        @include mq() {
          @include vwmt(10, $bp2);
        }

        @include mq(l) {
          margin-top: 10px;
        }

        &-item {
          @include vwptb(10);

          @include mq() {
            @include vwptb(10, $bp2);
          }

          @include mq(l) {
            padding: 10px 0;
          }

          &:nth-of-type(n + 2) {
            border-top: thin solid $p4-border;
          }
        }

        &-ttl {
          font-weight: 700;
          background: $p4-bg2;
          border: thin solid $p4-border2;
          @include vwmb(10);
          @include vwpt(7);
          @include vwpb(8);
          @include vwplr(10);
          color: $txt-dark;

          @include mq() {
            @include vwfs(16, $bp2);
            @include vwpt(8, $bp2);
            @include vwpb(9, $bp2);
            @include vwplr(14, $bp2);
            @include vwmb(10, $bp2);
          }

          @include mq(l) {
            @include fs(16);
            padding: 8px 14px 9px;
            margin-bottom: 10px;
          }
        }

        &-txt {
          @include lh(16, 24);

          @include mq() {
            @include vwfs(14, $bp2);
          }

          @include mq(l) {
            @include fs(16);
          }

          + .point-04-2col-list-ttl {
            @include vwmt(20);

            @include mq() {
              @include vwmt(20, $bp2);
            }

            @include mq(l) {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

/*
voice
*/
.sec-voice {
  background: #f2f2f2;

  &::before,
  &::after {
    mix-blend-mode: multiply;
  }

  .v-box__img {
    background: #f2f2f2;
    padding-top: calc(8.4rem + 4rem) !important;
    margin-top: -8.4rem;

    @include mq() {
      margin-top: 0;
      padding-top: 5rem !important;
    }

    &:after {
      mix-blend-mode: multiply;
      top: 0 !important;
    }
  }

  .v-box__ttl {
    z-index: 3;
  }
}

/*
consultation
*/
.ct {
  position: relative;
  @include vwpb(40);

  @include mq() {
    @include vwpt(70, $bp2);
    padding-bottom: 0;
  }

  @include mq(l) {
    padding-top: 70px;
  }

  &-bg {
    @include mq() {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
    }

    img {
      width: 100%;
      height: auto;

      @include mq() {
        height: 100%;
        object-fit: cover;
        object-position: center left;
      }
    }
  }

  &-in {
    max-width: 1200px;
    width: 86.6666666667vw;
    margin: 0 auto;
    position: relative;
  }

  &-subttl {
    font-weight: 700;
    @include vwh(46);
    border-radius: 100px;
    background: $ct-red;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include vwfs(18);
    @include vwmt(-23);

    @include mq() {
      @include vwh(60, $bp2);
      @include vwfs(22, $bp2);
      margin-top: 0;
    }

    @include mq(l) {
      @include fs(24);
    }

    &-wrap {
      text-align: center;

      @include mq() {
        @include vww(420, $bp2);
      }

      @include mq(l) {
        width: 420px;
      }
    }

    &-bottom {
      @include vwfs(14);
      @include vwmt(5);
      text-align: center;

      @include mq() {
        @include vwfs(14, $bp2);
        @include vwmt(10, $bp2);
      }

      @include mq(l) {
        @include fs(14);
        margin-top: 10px;
      }
    }
  }

  &-ttl {
    @include vwmt(10);
    font-weight: 700;
    @include vwfs(18);
    @include lh(18, 28);
    text-align: center;

    @include mq() {
      @include vwfs(29, $bp2);
      @include lh(32, 48);
      @include vwmt(32, $bp2);
      text-align: left;
    }

    @include mq(l) {
      @include fs(32);
      margin-top: 32px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;

    @include mq() {
      flex-direction: row;
    }

    &-wrap {
      @include vwmt(25);

      @include mq() {
        @include vwpt(76, $bp2);
        @include vwpb(50, $bp2);
        @include vwmt(-46, $bp2);
        background: $white;
        @include vww(880, $bp2);
      }

      @include mq(l) {
        margin-top: -46px;
        padding-top: 76px;
        padding-bottom: 50px;
        width: 920px;
      }
    }
  }

  &-item {
    @include vww(240);
    flex: 0 0 auto;

    @include mq() {
      @include vww(240, $bp2);
    }

    @include mq(l) {
      width: 269px;
    }

    &:nth-of-type(even) {
      margin-left: auto;

      @include mq() {
        margin-left: 0;
      }
    }

    &:nth-of-type(n + 2) {
      @include vwmt(10);

      @include mq() {
        margin-top: 0;
        @include vwml(20, $bp2);
      }

      @include mq(l) {
        margin-left: 20px;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-caption {
    font-weight: 700;
    @include vwfs(14);
    line-height: 1;
    margin-top: -1em;
    @include vwml(260);

    @include mq() {
      @include vwfs(20, $bp2);
      @include vwmt(10, $bp2);
      margin-left: 0;
      @include vww(880, $bp2);
      @include vwpr(40, $bp2);
      text-align: right;
    }

    @include mq(l) {
      @include fs(20);
      margin-top: 10px;
      width: 920px;
      padding-right: 40px;
    }
  }
}

/*
feature
*/
.feature {
  background-image: url("../images/2403/feature-bg-sp.webp");

  @include mq() {
    background-image: url("../images/2403/feature-bg.webp");
  }
}

// section
.section {
  &-ttl {
    text-align: center;
    font-weight: 700;

    .top {
      display: block;
      text-align: center;
      @include vwfs(14);
      @include vwmb(8);
      color: $k-red;

      @include mq() {
        @include vwfs(18, $bp2);
        @include vwmb(16, $bp2);
      }

      @include mq(l) {
        @include fs(20);
        margin-bottom: 16px;
      }
    }

    .bottom {
      @include vwfs(24);
      @include lh(24, 32);

      @include mq() {
        @include vwfs(34, $bp2);
      }

      @include mq(l) {
        @include fs(36);
      }
    }
  }
}

// introduction
.introduction-wrap {
  @include vwptb(30);

  @include mq() {
    padding: 100px 0;
  }
}

.introduction {
  height: 224px;
  padding: 10px;
  background: url(../images/top/bg_price_intro.webp) no-repeat center/cover;
}
@media screen and (max-width: 767px) {
  .introduction {
    background-image: url(../images/top/bg_price_intro_sp.webp);
    padding: 2.6666666667vw;
    height: 118.9333333333vw;
  }
}
.introduction .inner {
  border: solid 2px #fff;
  height: 100%;
}
.introduction .lead {
  margin-top: 29px;
}
@media screen and (min-width: 768px) {
  .introduction .lead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .introduction .lead {
    margin-top: 8vw;
  }
}
.introduction .lead p {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .introduction .lead p {
    font-size: 4.8vw;
    text-align: center;
    line-height: 1.5555555556;
  }
}
.introduction .lead .or {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #fff;
  color: #333;
}
@media screen and (max-width: 767px) {
  .introduction .lead .or {
    width: 12.8vw;
    height: 12.8vw;
    font-size: 3.2vw;
    margin: 2.6666666667vw auto;
  }
}
.introduction .price_box {
  text-align: center;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .introduction .price_box {
    width: 68.5333333333vw;
    margin: 7.7333333333vw auto 0;
  }
}

/*
price
*/
.price {
  position: relative;

  @include mq() {
    background: $p4-bg2;
  }

  &-imgbox {
    @include mq() {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      @include vwh(583, $bp2);
    }

    @include mq(l) {
      height: 583px;
    }

    img {
      @include mq() {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right center;
      }
    }
  }

  &-in {
    width: 86.6666666667vw;
    margin: 0 auto;
    max-width: 1200px;
    @include vwpt(35);
    @include vwpb(80);

    @include mq() {
      position: relative;
      padding: 0;
      @include vwpb(150, $bp2);
    }

    @include mq(l) {
      padding-bottom: 150px;
    }
  }

  &-cont {
    @include mq() {
      background: $white;
      @include vww(700, $bp2);
      margin-left: auto;
      @include vwpt(130, $bp2);
      @include vwplr(40, $bp2);
      @include vwh(583, $bp2);
    }

    @include mq(l) {
      width: 800px;
      padding: 150px 50px 0;
      height: 583px;
    }
  }

  &-price {
    @include vwmt(28);
    width: 100%;

    @include mq() {
      margin: 0 auto;
      @include vwmt(72, $bp2);
      @include vww(515, $bp2);
    }

    @include mq(l) {
      margin-top: 72px;
      width: 515px;
    }

    &-bottom {
      display: block;
      text-align: right;
      @include vwfs(12);

      @include mq() {
        @include vwfs(14, $bp2);
        @include vwpr(52, $bp2);
      }

      @include mq(l) {
        @include fs(16);
        padding-right: 52px;
      }
    }
  }

  &-otp {
    display: flex;
    align-items: center;
    justify-content: center;
    @include vwh(36);
    @include vwmt(10);
    border: thin solid $dark-line;

    @include mq() {
      margin: 0 auto;
      @include vwmt(10, $bp2);
      @include vww(400, $bp2);
      @include vwh(40, $bp2);
    }

    @include mq(l) {
      width: 400px;
      height: 40px;
      margin-top: 10px;
    }

    &-in {
      @include vwfs(14);
      font-weight: 700;

      @include mq() {
        @include vwfs(16, $bp2);
      }

      @include mq(l) {
        @include fs(18);
      }
    }
  }

  &-caption {
    @include vwmt(10);
    @include vwfs(12);
    @include lh(12, 20);

    @include mq() {
      @include vwmt(35, $bp2);
      @include vwfs(12, $bp2);
      @include lh(12, 20);
    }

    @include mq(l) {
      margin-top: 35px;
      @include fs(12);
    }
  }

  &-merit {
    @include vwmt(25);

    @include mq() {
      @include vwmt(50, $bp2);
    }

    @include mq(l) {
      margin-top: 50px;
    }

    li {
      @include mq() {
        display: flex;
        justify-content: space-between;
      }
    }

    &-ttl {
      @include vwh(40);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $k-red;
      border: 2px solid $k-red;
      background: $white;
      font-weight: 700;

      @include mq() {
        width: calc(580 / 1200 * 100%);
        max-width: 580px;
        @include vwh(82);
        max-height: 82px;
        border-width: 4px;
        @include vwfs(24, $bp2);
        flex: 0 0 auto;
      }

      @include mq(l) {
        @include fs(24);
      }
    }

    &-txt {
      @include vwmt(10);
      @include vwfs(14);
      @include lh(14, 24);

      @include mq() {
        margin-top: 0;
        @include vwfs(14, $bp2);
        @include lh(16, 28);
        flex: 0 0 auto;
        width: calc(580 / 1200 * 100%);
        max-width: 580px;
      }

      @include mq(l) {
        @include fs(16);
      }
    }
  }
}
